/* User Messages */

.rcb-user-message-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.rcb-user-message {
	margin-top: 12px;
	padding: 14px 20px;
	border-radius: 24px;
	min-height: 20px;
	height: fit-content;
	width: fit-content;
	font-size: 15px;
	line-height: 1.5;
	letter-spacing: 0.01em;
	overflow-wrap: anywhere;
	overflow: hidden;
	white-space: pre-wrap;
	text-align: right;
	margin-right: 16px;
}

.rcb-user-message-offset {
	margin-right: 50px;
}

.rcb-user-message-entry {
	animation: rcb-animation-user-message-entry 0.3s ease-in backwards;
}

.rcb-message-user-avatar {
	background-size: cover;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-top: 9px;
}

.rcb-message-user-avatar {
	margin-left: -10px;
	margin-right: 6px;
}